html, body{
    margin: 0px;
    padding:0px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.title{
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 28px;
    line-height: 0px;
}
.subtitle{
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 20px;
    line-height: 0px;
}

span{
    display: inline-block;
    padding: 3px;
    font-size: 18px;
}

.mdc-top-app-bar__row{
    background-color:#FF6B6C;
}

.mdc-drawer{
    background-color: #FF6B6C;
    color: white;
}

.mdc-list-item__text{
    font-family: 'Lato', sans-serif;
    line-height: 18px;
    margin-left: 5px;
}

.mdc-list-item{
    margin:10px;
}